[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "contrib/stb"]
	path = contrib/stb
	url = https://github.com/nothings/stb.git
[submodule "contrib/sdl2"]
	path = contrib/sdl2
	url = https://github.com/spurious/SDL-mirror
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
